* {
    margin: 0;
    font-family: "Avenir";
}

body {
    margin: 0;
    font-family: "Avenir", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

code {
    font-family: "Rubik Mono One", sans-serif;
}

.infowindow {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infowindow button {
    border: none;
    border-radius: 4%;
    padding: 4px;
    margin: 2px;
}

.going {
    background-color: green;
}

.maybe {
    background-color: yellow;
}

.not {
    background-color: red;
}


/* h1 {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 0;
    font-family: "Rubik Mono One", sans-serif;
} */

#ui_search {
    background-color: black;
    /* position: absolute */
    width: 38vw;
    height: 6vh;
    padding-left: 0.5vw;
    margin-top: 6px;
    /* top: 2%; */
}

#ui_search_find {
    background-color: black;
    /* position: absolute; */
    width: 38vw;
    height: 6vh;
    padding-left: 0.5vw;
}

#MAIN_LOGO {
    position: absolute;
    top: 50%;
    left: 50%;
}

.search_host {
    position: absolute;
    top: 3.4%;
    left: 40%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    z-index: 10;
    border: none;
    outline: none;
    height: 10rem;
}

.search_host input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: lightgray;
    font-size: 20pt;
    border-radius: 1%;
}

#search_icon {
    color: white;
    z-index: 100;
    position: absolute;
    top: 0.26rem;
    left: 95%;
}

.search {
    position: absolute;
    top: 17%;
    left: 40%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    z-index: 10;
    border: none;
    outline: none;
    height: 10rem;
    /* background: yellow; */
}

.search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: lightgray;
    font-size: 20pt;
    border-radius: 1%;
}

.locate {
    position: absolute;
    top: 0.8vh;
    left: 63%;
    background: none;
    border: none;
    z-index: 10;
}

.locate_host {
    position: absolute;
    top: 2.8vh;
    left: 63%;
    background: none;
    border: none;
    z-index: 10;
}

.locate_host img {
    width: 50px;
    cursor: pointer;
    z-index: 300;
}

.locate img {
    width: 50px;
    cursor: pointer;
    z-index: 300;
}

#partyList:hover {
    cursor: pointer;
}


/* .widget2 {
    position: absolute;
    height: 100vh;
    width: 10vw;
    background-color: white;
    z-index: 20;
    left: -8.5rem;
} */


/* .widget2:hover+.widget {
    display: block;
} */


/* .widget2:hover {
    left: 0;
} */

.widget {
    margin: 1px;
    top: 25rem;
    width: 7.5rem;
    left: 0rem;
    position: absolute;
    z-index: 20;
    padding: 0;
    height: 40px;
    justify-content: space-between;
    box-sizing: border-box;
    display: block;
}

.widget h2 {
    background-color: yellow;
    color: black;
    margin: 5px;
    margin-left: 0;
    border-radius: 4%;
    display: flex;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    padding: 10px;
}

.form>* {
    margin: 1px 0px;
    padding: 10px;
}


/* copied css */


/* Style the links inside the sidenav */

#mySidenav a {
    z-index: 40;
    position: absolute;
    /* Position them relative to the browser window */
    left: -98px;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 100px;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 5px 5px 0;
    /* Rounded corners on the top right and bottom right side */
}

#mySidenav:first-child {
    width: 1500px;
}

#mySidenav a:hover {
    left: 0;
    /* On mouse-over, make the elements appear as they should */
}


/* The about link: 20px from the top with a green background */

#logo {
    top: 0%;
    background-color: rgb(49, 100, 112);
    text-align: center;
    left: 0;
    z-index: 0;
    /* height: 500px; */
    width: 1000px;
    /* Light Black */
}

#login {
    top: 15%;
    background-color: rgb(0, 160, 232);
    text-align: center;
    display: flex;
}

#host {
    top: 30%;
    background-color: rgb(67, 217, 202);
    text-align: center;
    /* Blue */
    display: flex;
}

#find {
    top: 50%;
    background-color: rgb(42, 194, 82);
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100vw;
    font-family: "Avenir";
    padding: 20px;
    /* Red */
}

#MainPartyList {
    position: absolute;
    flex-direction: row;
    text-align: center;
    max-width: 15vw;
    top: 66%;
    color: white;
    background-color: rgb(33, 89, 72);
    /* copied */
    z-index: 40;
    position: absolute;
    /* Position them relative to the browser window */
    left: -13.8%;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 14vw;
    height: 31vh;
    overflow-y: scroll;
    /* overflow-x: visible; */
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    font-family: "Avenir";
    /* Increase font size */
    color: black;
    /* White text color */
    border-radius: 0 5px 5px 0;
    display: flex;
}

.overflow {
    position: absolute;
    z-index: 10;
    top: 90px;
    left: -3.35%;
    margin-top: 630px;
}

#overflow:hover {
    /* left: 0; */
    /* display: none; */
    cursor: pointer;
}

#MainPartyList:hover {
    left: 0;
    /* On mouse-over, make the elements appear as they should */
}

#MainPartyList {
    /* display: flex; */
}

#options {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 2%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2000;
}


/* for genre filter */

.filter {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1.8vh;
    left: 68%;
    background: none;
    border: none;
    z-index: 10;
    width: 8vw;
}

.filter select {
    width: 150px;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #9d6;
    background: #eee;
    border: none;
    outline: none;
    /* display: inline-block; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.filter label {
    position: relative;
}


/*
.filter label:after {
    content: "<>";
    font: 12px "Consolas", monospace;
    color: #666;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -16px;
    top: 8px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}
*/


/* .filter label:before {
    content: "";
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #eee;
    position: absolute;
    pointer-events: none;
    display: block;
} */


/* for date filter */

.filterDate {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1.8vh;
    left: 79.1%;
    background: none;
    border: none;
    z-index: 10;
    width: 9vw;
}

.filterDate select {
    width: 137px;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #9d6;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.filterDate label {
    position: relative;
}


/* .filterDate label:after {
    content: "<>";
    font: 11px "Consolas", monospace;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 10px;
    z-index: 1000;
    top: 8px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
} */


/* .filterDate label:before {
    content: "";
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #eee;
    position: absolute;
    pointer-events: none;
    display: block;
} */

.filterTheme {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1.8vh;
    left: 89.5%;
    background: none;
    border: none;
    z-index: 10;
    width: 9vw;
}

.filterTheme select {
    width: 136px;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #9d6;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.filterTheme label {
    position: relative;
}


/* .filterTheme label:after {
    content: "<>";
    font: 11px "Consolas", monospace;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 10px;
    z-index: 1000;
    top: 8px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
} */


/* making markers bounce */

.bounce {
    -webkit-animation: bounce 2s;
    animation: bounce 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
    }
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
    }
}

.button_list {
    display: flex;
}


/* #party_details {
    padding-left: 100px;
} */