* {
    margin: 0;
    font-family: "Avenir";
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Avenir", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    height: 100vh;
}

code {
    font-family: "Rubik Mono One", sans-serif;
}

.infowindow {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infowindow button {
    border: none;
    border-radius: 4%;
    padding: 4px;
    margin: 2px;
}

.going {
    background-color: green;
}

.maybe {
    background-color: yellow;
}

.not {
    background-color: red;
}

#ui_search {
    background-color: black;
    width: 38vw;
    left: 0%;
    height: 5.6vh;
    padding-left: 0.5vw;
    margin-top: 6px;
}

#ui_search_find {
    background-color: black;
    width: 38vw;
    height: 5.6vh;
    padding-left: 0.5vw;
}

#MAIN_LOGO {
    position: absolute;
    top: 50%;
    left: 50%;
}

.search_host {
    position: relative;
    top: 3.6%;
    left: 0%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    z-index: 10;
    border: none;
    outline: none;
    height: 10rem;
}

.search_host input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: lightgray;
    font-size: 20pt;
    border-radius: 1%;
}

#search_icon {
    color: white;
    z-index: 100;
    position: absolute;
    top: 0.26rem;
    left: 95%;
}

.search {
    position: absolute;
    top: 3.1vh;
    left: 25%;
    width: 100%;
    max-width: 450px;
    z-index: 10;
    border: none;
    outline: none;
    height: 10rem;
}

.search input {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
    border: none;
    outline: none;
    background: lightgray;
    font-size: 1.3rem;
    border-radius: 1%;
}

.search_find {
    position: absolute;
    top: 4.4vh;
    left: 25%;
    width: 100%;
    max-width: 450px;
    z-index: 10;
    border: none;
    outline: none;
    height: 10rem;
}

.search_find input {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
    border: none;
    outline: none;
    background: lightgray;
    font-size: 1.3rem;
    border-radius: 1%;
}

.locate {
    position: absolute;
    top: 6.0%;
    left: 0;
    background: none;
    border: none;
    z-index: 10;
}

#locate_host {
    position: absolute;
    top: 60vh;
    left: 0;
    background: none;
    border: none;
    z-index: 10;
}

.locate_host img {
    width: 50px;
    cursor: pointer;
    z-index: 300;
}

.locate img {
    width: 40px;
    cursor: pointer;
    z-index: 300;
}

.locate_find {
    position: relative;
    top: .5vh;
    left: 0;
    background: none;
    border: none;
    z-index: 10;
    height: 50px
}

.locate_find img {
    width: 40px;
    cursor: pointer;
    z-index: 300;
}

#partyList:hover {
    cursor: pointer;
}

.widget {
    margin: 1px;
    top: 25rem;
    width: 7.5rem;
    left: 0rem;
    position: absolute;
    z-index: 20;
    padding: 0;
    height: 40px;
    justify-content: space-between;
    box-sizing: border-box;
    display: block;
}

.widget h2 {
    background-color: yellow;
    color: black;
    margin: 5px;
    margin-left: 0;
    border-radius: 4%;
    display: flex;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    padding: 10px;
}

.form>* {
    margin: 1px 0px;
    padding: 10px;
}

#mySidenav a {
    z-index: 40;
    position: absolute;
    left: -98px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav:first-child {
    width: 1500px;
}

#mySidenav a:hover {
    left: 0%;
    /* On mouse-over, make the elements appear as they should */
}


/* The about link: 20px from the top with a green background */

#logo {
    top: 0%;
    background-color: rgb(49, 100, 112);
    text-align: center;
    left: 0;
    z-index: 0;
    /* height: 500px; */
    width: 1000px;
    /* Light Black */
}

#login {
    top: 15%;
    background-color: rgb(0, 145, 232);
    text-align: center;
    display: flex;
}

#host {
    top: 30%;
    background-color: rgb(67, 217, 202);
    text-align: center;
    /* Blue */
    display: flex;
}

#find {
    top: 50%;
    background-color: rgb(42, 194, 82);
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100vw;
    font-family: "Avenir";
    padding: 20px;
}

#MainPartyList {
    position: absolute;
    flex-direction: row;
    text-align: center;
    max-width: 15vw;
    top: 66%;
    color: white;
    background-color: rgb(33, 89, 72);
    z-index: 40;
    position: absolute;
    left: -13.8%;
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    width: 14vw;
    height: 31vh;
    overflow-y: scroll;
    text-decoration: none;
    font-size: 20px;
    font-family: "Avenir";
    color: black;
    border-radius: 0 5px 5px 0;
    display: flex;
}

.overflow {
    position: absolute;
    z-index: 10;
    top: 90px;
    left: -3.35%;
    margin-top: 630px;
}

#overflow:hover {
    /* left: 0; */
    /* display: none; */
    cursor: pointer;
}

#MainPartyList:hover {
    left: 0;
    /* On mouse-over, make the elements appear as they should */
}

.options {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 2%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2000;
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .filter {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 5.6vh;
        left: 40%;
        background: none;
        border: none;
        z-index: 10;
        width: 2vw;
    }
    .filter select {
        max-width: 12vw;
        min-width: 10vw;
        height: 35px;
        padding: 4px;
        border-radius: 4px;
        background: #eee;
        border: none;
        outline: none;
        /* display: inline-block; */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    .filter label {
        position: relative;
    }
    .filterTheme {
        min-width: 2vw;
        max-width: 4vw;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .filter {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 5.6vh;
        left: 40%;
        background: none;
        border: none;
        z-index: 10;
        width: 3vw;
    }
    .filter select {
        max-width: 13vw;
        min-width: 10vw;
        height: 35px;
        padding: 4px;
        border-radius: 4px;
        background: #eee;
        border: none;
        outline: none;
        /* display: inline-block; */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    .filter label {
        position: relative;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .filter {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 5.6vh;
        left: 40%;
        background: none;
        border: none;
        z-index: 10;
        max-width: 9vw;
    }
    .filter select {
        max-width: 14vw;
        min-width: 10vw;
        height: 35px;
        padding: 4px;
        border-radius: 4px;
        background: #eee;
        border: none;
        outline: none;
        /* display: inline-block; */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    .filter label {
        position: relative;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .filter {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 5.6vh;
        left: 45%;
        background: none;
        border: none;
        z-index: 10;
        width: 30vw;
    }
    .filter select {
        max-width: 14vw;
        min-width: 10vw;
        height: 35px;
        padding: 4px;
        border-radius: 4px;
        background: #eee;
        border: none;
        outline: none;
        /* display: inline-block; */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    .filter label {
        position: relative;
    }
}


/* for genre filter */

.filter {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5.6vh;
    left: 65%;
    background: none;
    border: none;
    z-index: 10;
    width: 4vw;
}

.filter select {
    max-width: 10vw;
    min-width: 10vw;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.filter label {
    position: relative;
}

#map {
    position: absolute;
    top: 5.25%;
    left: 0
}


/* for date filter */

.filterDate {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5.6vh;
    left: 78.1%;
    background: none;
    border: none;
    z-index: 10;
    width: 9vw;
}

.filterDate select {
    max-width: 8vw;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.filterDate label {
    position: relative;
}

.filterTheme {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5.6vh;
    left: 88.5%;
    background: none;
    border: none;
    z-index: 10;
    max-width: 9vw;
    min-width: 2vw;
    ;
}

.filterTheme select {
    max-width: 9vw;
    min-width: 2vw;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.filterTheme label {
    position: relative;
}


/* .filterTheme label:after {
    content: "<>";
    font: 11px "Consolas", monospace;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 10px;
    z-index: 1000;
    top: 8px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
} */


/* making markers bounce */

.bounce {
    -webkit-animation: bounce 2s;
    animation: bounce 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    45% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
    }
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    45% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
    }
}

.button_list {
    display: flex;
}


/* #party_details {
    padding-left: 100px;
} */